<html>
  <body>
    <div class="box11">
      <!-- Home画面(仮) Userを作成するページへ遷移する -->
      <%= link_to "Sign up", new_user_path%>

      <!-- ログインをするページへ遷移する -->
      <%= link_to "Log in", login_path, style: "margin-left: 15px" %>

    </div>
  </body>
</html>
